fastapi-react-app/api/__pycache__/index.cpython-313.pyc
fastapi-react-app/api/__pycache__/main.cpython-314.pyc
fastapi-react-app/backend/__pycache__/main.cpython-314.pyc
fastapi-react-app/backend/__pycache__/main.cpython-314.pyc
